
.BlockContact{
    padding: 10px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    height: 10vh;
    overflow: hidden;
}

.text-contact-info{
    text-align: left;
    font-size: 3vh;
    padding: 10px;
    margin: auto;
    margin-left: 0;
    
}
.text-contact-info:hover{
    cursor: text;
}

.icone-container{
    width: 40px;
    margin: auto;
    margin-left: 0;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: $black-3;
}

.icone-reseau{
    height: 40px;
    padding: 5px;
    color: $black-3;
}

.icone-reseau:hover{
    cursor: pointer;
    color: $color-2;
    transition: color 0.5s;
}

.reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icone-reseau-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}

.icone-reseau-container:hover{
    border-radius: 22px;
    background-color: $black-3;
    transition: background-color 0.5s;
}


.icone-reseau-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
}