


//Stage

.block-stage{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stage-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.block-stage-image-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img-container{
    width: $tailleImage;
    height: $tailleImage;
    box-shadow: $shadow-3;
}

.img-icone{
    width: 100px;
}

.block-stage-info{
    margin-left: 15px;
}

.sous-info{
    font-family: $font-5;
    font-size: 14px;
    text-align: left;
    color: $black-2;
}

.description{
    font-family: $font-4;
    margin: 10px;
    text-align: left;
    font-size: 15px;
}

.separation{
    width: 90%;
    height: 1px;
    background-color: $black-2;
    position: relative;
    left: 5%;
}

//Formation

.block-formation{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.formation{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}


.block-formation-info{
    margin-left: 15px;
}

//Divers Expérience

.block-divers{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.divers-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.block-divers-image-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.block-divers-info{
    margin-left: 15px;
}

