.BlockLangue{
    padding: 20px;
    padding-top: 10px;
}

.titre-langue{
    margin-bottom: 5px;
}


.langue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.langue-info-container{
    display: flex;
    flex-direction: column;
}

.langue-titre{
    font-family: $font-4;
    font-size: 18px;
    text-align: left;
    margin-left: 25px;
    font-weight: 700;
    color: $black;
    margin-top: 15px;
}

.langue-niveau{
    font-family: $font-5;
    font-size: 14px;
    text-align: left;
    margin-left: 25px;
    color: $black-2;
    margin-top: 5px;
}

.barre{
    position: absolute;
    left: 20%;
    top: 35%;
    width: 60%;
    height: 15px;
    border: 1px solid $black-2;
    box-shadow: $shadow;
    overflow: hidden;
    border-radius: 8px;
}

.sous-barre{
    position: relative;
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,146,241,1) 60%, rgba(0,212,255,1) 100%);

}
/*
.anglais{
    transform: translateX(-20%);
}
.espagnol{
    transform: translateX(-40%);
}*/

.btn-link-langue-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin: auto 2vw auto 0;    
}

.btn-link-langue-container:hover{
    background-color: $black-shadow;

}

.icone-diplome{
    width: 50px;
}