.BlockLangue{
    padding: 20px;
    padding-top: 10px;
}

.titre{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.text-infos{
    text-align: left;
    line-height : normal;
    font-size: 15px;
    margin-bottom: 10px;
}
