body{
    background-color: $white;
}

.BlockContact{
    padding: 10px;
}

.contact-container{
    display: flex;
    flex-direction: row;
}

.text-contact-info{
    text-align: left;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    margin-left: 0;
}

.icone-container{
    width: 40px;
    margin: auto;
    margin-left: 0;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.icone{
    height: 40px;
    padding: 5px;
}

.reseau{
    padding: 10px;
}

.icone-reseau-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-reseau-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.icone-reseau-container a:hover{
    background-color: $black-shadow;
}