
.btnScroll{
    width: 100%;
    background-color: $color-2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnScroll:hover{
    cursor: pointer;
}

.text-btnScroll{
    padding: 5px;
    margin: 10px;
    font-family: $font-1;
}
