/*.Navigation{

}*/

$echelle: 1;

.btn-nav{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    @include verticalCenter;
    flex-direction: column;
}

.trait{
    position: relative;
    width: 90%;
    height: 10%;
    background-color: $black;
    margin: 5%;
    border-radius: 20px;

}

.btn-nav:hover{
    @include black-shadow;
}