
.Photo{
    box-shadow: 0 0 0 1px $color-3, 0 0 0 5px $color-2 , 0 0 0 6px $color-3;
    border-radius: 100px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.img-de-profil {
    width: 100%;
    position: relative;
    right: left;
}

