// ce document doit juste contenir les placements des components dans la page

.Home{
    display: flex;
    justify-content: center;
    height: 2000px;
}

.nav-container{
    z-index: 15;
    position: fixed;
    top: 0vh;
    left: 0vh;
}

.btnTelechargement-container{
    z-index: 15;
    position: absolute;
    top: 5vh;
    right: 5vh;
}

.photo-container{
    width: 110px;
    height: 110px;
    position: fixed;
    left: 50%;
    transform: translateY(-50%) translateX(-55px) scale(2);
    top: 40%;
    z-index: 15;
    border-radius: 50%;   
}

.btnScroll-container{ //position du btn dans la page home
    z-index: 40;
    position: fixed;
    bottom: 5%;
}

.image-background {
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: $color-2;
    height: 40%;
}

.block-container{
    z-index: 20;
    position: absolute;
    top: 50%;
    right: 2%;
    width: 70%;
    opacity: 0;
}




.block-left-container{
    position: fixed;
    top: 55%;
    left: 2%;
    width: 24%;
}

