// ce document doit juste contenir les placements des components dans la page

.Home{
    display: flex;
    height: 2000px;
}

.nav-container{
    z-index: 50;
    position: fixed;
    top: 0vh;
    left: 0vh;
    transform: translateX(-252px);
}

.btnTelechargement-container{
    z-index: 15;
    position: absolute;
    top: 5vh;
    right: 5vh;
}

.titre1-container{
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 55%;
}

.Photo{
    position: fixed;
    top: 40%;
    z-index: 15;
}

.btnScroll-container{ //position du btn dans la page home
    z-index: 40;
    position: fixed;
    left: 50%;
    bottom: 5%;
}

.image-background {
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: $color-2;
    height: 40%;
    overflow: hidden;
}

.img-bgd{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-45%);
}

.block-container{
    z-index: 20;
    position: absolute;
    top: 50%;
    right: 2%;
    width: 70%;
}




.block-left-container{
    position: fixed;
    top: 55%;
    left: 2%;
    width: 24%;
}

