

.Home{
    display: flex;
    justify-content: center;
    height: 2000px;
}

.nav-container{
    z-index: 15;
    position: absolute;
    top: 1vh;
    left: 1vh;
}

.btnTelechargement-container{
    z-index: 15;
    position: absolute;
    top: 5vh;
    right: 5vh;
}

.photo-container{
    width: 110px;
    height: 110px;
    position: fixed;
    left: 50%;
    transform: translateY(-50%) translateX(-55px) scale(2);
    top: 40%;
    z-index: 15;
    border: 1px solid gray;
    border-radius: 50%;   
}

.btnScroll-container{
    z-index: 15;
    position: absolute;
    bottom: 5%;
}

.image-background {
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: $color-2;
    height: 40%;
}

.block-container{
    z-index: 20;
    position: absolute;
    top: 50%;
    right: 2%;
    width: 70%;
    opacity: 0;
}

.sous-block{
    z-index: 20;
    background-color: $white;
    box-shadow: $shadow-2;
    width: 100%;
    border-radius: $borderRadius;
    margin-bottom: 20px;
}


.block-left-container{
    position: fixed;
    top: 55%;
    left: 2%;
    width: 24%;
}

.block-contact-container{
    transform: translateX(-120%);
    animation-duration: 2000ms;
    width: 100%;
    box-shadow: $shadow-2;
    border-radius: $borderRadius;
}

