// setting général

//font
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Josefin+Sans:wght@100&family=Nova+Round&family=Roboto&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans' sans-serif; 
$font-4: 'Roboto';
$font-5: 'Colibri';


//color
$color-1: #4392F1;
$color-2: #15E6CD;
$color-3: #0CF574;

$white: #fff;
$black: #333;
$black-2: rgb(56, 56, 56);
$black-shadow: rgba(0, 0, 0, 0.3);

@mixin black-shadow{
    background-color: $black-shadow;
};


$borderRadius: 10px;
$shadow: 0 1px 3px #333;
$shadow-2: 0 0 10px #333;
$shadow-3: 1px 1px 5px gray;

$tailleImage: 100px;

@mixin verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    width: 100%;
    background-color: $color-1;
}


.titre{
    font-family: $font-4;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}


h1{
    font-family: $font-1;
    padding: 20px;
    color: $black;
    cursor: default;
}

h2{
    font-family: $font-4;
    text-align: left;
    margin-left: 30px;
    font-weight: 700;
    color: $black;
    margin-top: 20px;
    cursor: default;
}

h3{
    font-family: $font-4;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: bold;
    cursor: default;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

a:visited{
    color: $black;
}


//Tag universel

.sous-block{
    z-index: 20;
    background-color: $white;
    box-shadow: $shadow-2;
    border-radius: $borderRadius;
    margin-bottom: 20px;
}

// Animation

.opacity-100{
    opacity: 1;
    height: 50px;
    transition: opacity 2s;
}

.opacity-0{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0s 0.2s, opacity 0.2s ;
}

.opacity-100-Titre1{
    opacity: 1;
    transition: opacity 1s;
}

.opacity-0-Titre1{
    opacity: 0;
    transition: opacity 0.5s;
}

.transaltion-right{
    transform: translateX(0);
    transition: transform 1s;
}

.translation-left{
    transform: translateX(-120%);
    transition: transform 0.5s;
}

.navClose{
    transform: translateX(0px);
    transition: transform 1.5s;
}

.navOpen{
    transform: translateX(252px);
    transition: transform 0.75s;
}